[submodule "themes/neon-synth"]
	path = themes/neon-synth
	url = git@github.com:nutsloop/neon-synth.git
[submodule "themes/neon-wave"]
	path = themes/neon-wave
	url = git@github.com:nutsloop/neon-wave.git
[submodule "themes/neon-static"]
	path = themes/neon-static
	url = git@github.com:nutsloop/neon-static.git
